/* Google Font: Source Sans Pro */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700') ;
/* Ionicons */
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') ;

/* ------ STYLE ------- */
/* Bootstrap Color Picker */
/* @import 'plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css'; */
/* Bootstrap4 Duallistbox */
/* @import 'plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css'; */
/* Bootstrap Slider */
@import 'plugins/bootstrap-slider/css/bootstrap-slider.min.css';

/* DataTables */
@import 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css';
@import 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css';
/* Daterange Picker */
/* @import 'plugins/daterangepicker/daterangepicker.css'; */

/* Ekko Lightbox */
/* @import 'plugins/ekko-lightbox/ekko-lightbox.css'; */

/* Font Awesome */
@import 'plugins/fontawesome-free/css/all.min.css';
/* FullCalendar */
/* @import 'plugins/fullcalendar/main.min.css'; */
/* @import 'plugins/fullcalendar-daygrid/main.min.css'; */
/* @import 'plugins/fullcalendar-timegrid/main.min.css'; */
/* @import 'plugins/fullcalendar-bootstrap/main.min.css'; */

/* iCheck */
/* @import 'plugins/icheck-bootstrap/icheck-bootstrap.min.css'; */
/* Ion Slider */
/* @import 'plugins/ion-rangeslider/css/ion.rangeSlider.min.css'; */

/* JQVMap */
/* @import 'plugins/jqvmap/jqvmap.min.css'; */
/* JSGrid */
/* @import 'plugins/jsgrid/jsgrid.min.css'; */
/* @import 'plugins/jsgrid/jsgrid-theme.min.css'; */

/* OverlayScrollbars */
/* @import 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css'; */

/* Pace Progress */
/* @import 'plugins/pace-progress/themes/black/pace-theme-flat-top.css'; */

/* Select2 */
@import 'plugins/select2/css/select2.min.css';
@import 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css';
/* SweetAlert2 */
@import 'plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css';
/* Summernote */
@import 'plugins/summernote/summernote-bs4.css';

/* Tempusdominus Bbootstrap 4 */
@import 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css';
/* Toastr */
@import 'plugins/toastr/toastr.min.css';

/* Theme style */
@import 'dist/css/adminlte.min.css';

/* Plugins Css */
.is-invalid.select2-select ~ span.select2 .select2-selection {
    border-color:red !important;
}

#website-background {
    background-image: url('images/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.4;
}

footer.main-footer {
    left: 0;
    position: absolute;
    right: 0
}

.icon-clickable {
    cursor: pointer;
}

.carousel-indicators li {
    height: 10px;
    background-color: blue;
    border-top: 0;
    border-bottom: 0;
    border-radius: 10px;
}